<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<p id="submit" style="color:#454545;margin-top:50px;font-size:16px;" class="text-center">&copy; 2018-2019 Basirhatkatha.in</p>
</body>
</html>